body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:blanchedalmond;
    margin:auto;
}

.header {
    background: coral;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: -10px;
    position: relative;
    display: block;
}

.checked {
    text-decoration: line-through;
    color:coral;
}

.container {
    margin:auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

#list{
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin-right: 45px;
}

button {
    background: coral;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#task {
    margin-left: 145px;
}

h2 {
    text-align: center;
}